{
  "extends": "airbnb-base",
  "rules": {
    "no-unused-vars": "warn",
    "no-console": "off",
    "no-underscore-dangle":  ["error", { "allow": ["_id"] }],
    "quotes": ["warn", "single"],
    "prefer-const": "warn",
    "consistent-return": "off"
  }
}